{% extends 'base.html' %}
    
    {% block jumbotron %}
    <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="row">
            <div class="col-sm-6">
                <h1>Expense Share</h1>
                <p>MVP landing page of the the sample project.  asJDASOLDHaasdl as;laskd a;lskdja;slkdas;dkla sdasduqwpd fhjdsklhf ksdjf kj jsd lsadfjasdf asdfoaw dfkdhsf asdjkfh
                    <p><a class="btn btn-lg btn-primary" href="" role="button">Join Us</a></p>
                </p>
            </div>
            <div class="col-sm-6">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="500" height="315" src="https://www.youtube.com/embed/l28nNHfY-lA" frameborder="0" 
                        allowfullscreen class="embed-responsive-item"></iframe>
                </div>
            </div>
        </div>
      </div>
    {% endblock %}


{% block content %}
    <div class="row">
        <div class="col-sm-3 pull-right">
            <p class="lead">Tlkjlkjhjklhlkj</p>

        </div>
        <div class="col-sm-3">
            <p class="lead">Built with Django &amp; Bootstrap</p>
        </div>
        <div class="col-sm-3">
            <p class="lead">Created for Starters of all kinds</p>
        </div>
        <div class="col-sm-3">
            <p class="lead">Always Open Source</p>
        </div>
    </div>
{% endblock %}